body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/122/350/original/earth-planet-front-side-back-41950.jpeg?1712524876");
  background-repeat: no repeat;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  background-color: rgb(252, 254, 254, 0.8);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #313d85;
  font-size: 40px;
}

select {
  display: block;
  margin: 20px auto;
  width: 50%;
  padding: 7px;
  border-radius: 4px;
  font-size: 17px;
  color: grey;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px 0 20px;
  border-bottom: 1px dotted #313d85;
}

.city:last-child {
  border: none;
}

h2 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 28px;
  color: black;
}

.date {
  color: #313d85;
  font-weight: bold;
}

.time {
  font-size: 40px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
  opacity: 0.5;
}

footer {
  text-align: center;
  margin: 10px;
  opacity: 0.8;
  font-size: 12px;
  color: white;
}

footer a {
  color: #67a3a4;
  text-decoration: none;
  font-weight: bold;
}
